body{
	background-color: #f5f5f5;
	margin: 0;
	font-family: sans-serif;
}
.header{
	width: 100%;
	text-align: center !important;
	background-color: #3377A8;
	margin: 0 auto;
	padding: 20px ;
	color: white;
	font-weight: bold;
	height: 100px;
}