body {
	background-color: #f5f5f5;
	margin: 0;
}
textarea {
    resize: none;
}
input{
	padding: 7px 0px 7px 8px;
}
input:focus {
	opacity: 0.5;
}

#branch_id{
	height: 44px !important;
	margin-top: 15px !important;
	margin-bottom: 30px !important;
	width: 600px !important;
	padding-left: 5px;
}
#position_id{
	height: 44px !important;
	margin-top: 15px !important;
	margin-bottom: 50px !important;
	width: 600px !important;
	padding-left: 5px;
}
p.turntext{
	word-wrap: break-word !important;
}
span{
	font-size: 18px;
	color: black;
	font-weight: bold;
	padding: 5px;
}
h2{
	background: #BF5762;
	padding: 0.5em;
	color: white;
}
h3{
	padding: .25em .75em .25em .75em;
 	font-size: 16px;
}
h1{
	position: relative;
	display: inline-block;
	margin-bottom: 40px;
	margin-top: 20px;
	text-align: center !important;
	font-size: 24px;
	margin-top: 0;
}
h1:before {
	content: '';
	position: absolute;
	bottom: -10px;
	display: inline-block;
	width: 70%;
	height: 5px;
	left: 50%;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: #3377A8;
	border-radius: 1px;
}
.borderleft{
	padding: 0.25em 0.5em;/*上下 左右の余白*/
	color: #494949;/*文字色*/
	background: transparent;/*背景透明に*/
	border-left: solid 5px #3377A8;/*左線*/
}

.sticky{
	postion: -webkit-sticky;
    position: sticky;
    margin-top: 150px;
    margin-right: 30px;
    top: 300px;
    width: 50px !iportant;
    height: 50px;
    float: right;

}
.management{
	background-color: #f5f5f5;
	width: 1000px;
	padding: 10px 40px 40px 40px;
	margin: auto;
	margin-top: 80px;
}

/*投稿画面*/
.post-contents{
	width: 800px;
	margin: auto;
	background-color: white;
	padding: 40px;
	margin-top: 80px !important;
}
#title{
	width: 800px;
	height: 20px;
	margin: auto;
}
#category{
	width: 800px;
	height: 20px;
	margin: auto;
}
.post-box{
	width: 800px;
	height: 200px;
	margin: auto;
}
.post-contents label{
	position: relative;
	margin-top: 35px;
}
.login-contents{
	margin: auto;
	width: 600px;
	background-color: white;
	padding: 40px 60px 20px 60px;
	margin-top: 40px;
}

/*ユーザー登録画面*/
.signup-contents{
	width: 600px;
	margin: auto !important;
	padding: 40px 40px 40px 40px;
	padding-top: 30px;
	margin-top: 80px !important;
	background-color: white;

}
.signup-contents label{
	position: relative;
	margin-top: 10px;
}
.edit-contents label{
	position: relative;
	margin-top: 10px;
}
.edit-contents{
	width: 600px;
	margin: auto !important;
	padding: 40px 40px 40px 40px;
	padding-top: 30px;
	margin-top: 80px !important;
	background-color: white;
}

.input{
	width: 600px;
	height: 20px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 20px;
}

/*メッセージ枠*/
.text{
	padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #BF5762;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.user{
	color:white;
	weight: bold !important;
	text-align: right !important;
}
.post{
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: white;
	height: 100%;
	width: 1000px;
	margin-top: 120px;
}
.post > .name{
	text-align: center !important;
}

/*.comment{
	margin: auto;
	margin-top: 30px;
	padding:20px 30px 70px 30px;
	background-color: white;
	height: 100%;
	width: 1000px !important;
}*/
.comment {
  position: relative;
  margin: auto;
  margin-top: 70px;
  height: 100%;
  padding: 20px 30px 40px 30px;
  width: 1000px !important;
  color: #555;
  font-size: 16px;
  background: white;
}

.comment:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 10%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid white;
}

/*コメント投稿*/
.message{
	margin: auto;
	margin-top: 70px;
	margin-bottom: 40px;
	padding:20px 30px 50px 30px;
	background-color: white;
	height: 140px;
	width: 1000px;
	display: block;
}
.message-box{
	width: 700px;
	height: 50px;
	padding-bottom: 10px;
	margin-top: 20px;
}

label {
	display: block;
}

.errorMessages {
	width: 1040px;
	margin: auto !important;
	margin-top: 40px !important;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
	font-weight: bold;
}

.errorMessages ul, ol {
  background: white;
  text-align: center;
  padding: 0.5em 0.5em 0.5em 2em;
  list-style: none;
}
.errorMessages ul li, ol li {
  line-height: 1.5;
  padding: 0.5em 0;
}

/*メニューバー編集*/
.logintitle{
	position: absolute;
	top: 0;
	left: 98px;
	font-size: 24px;
}
.tohome{
	font-size: 24px;
	font-weight: bold;
	color: white;
	text-align: center;
	text-decoration: none;

}
.mainheader{
	position: abosolute;
	top: 0;
	width: 100%;
	text-align: center !important;
	background-color: #3377A8;
	margin: auto;
	padding-top: 20px ;
	padding-bottom: 20px;
	color: white;
	font-weight: bold;
	height: 70px;
	z-index: 2147483647;
}
.mainheader >ul{
	width: 92%;
	text-align: center !important;
	list-style: none;
}
.mainheader >ul ui{
	padding-top: 10px;
}
.header{
	position: abosolute;
	top: 110px;
	width: 97%;
	text-align: center !important;
	background-color: #BF5762;
	margin: auto;
	padding: 20px ;
	padding-top: 16px;
	color: white;
	font-weight: bold;
	height: 16px;
	z-index: 2147483646;
}

.header >ul{
	width: 100%;
	display: table;
	margin: 0;
	padding: 0;
	text-align: center;
}
.header > ul li{
	display: table-cell;
	min-width: 100px;
}
.header > ul li a{
	display: block;
	width: 97%;
	padding: 0;
	text-decoration: none;
	font-weight: bold;
	color: white;

}
.header > ul li.current{
	background-color: #DEEBF7;
}
.header > ul li.current a{
	color: #555;
}

/*絞込み欄*/
.narrowing{
	background-color: white;
	margin: auto;
	width: 1040px;
	padding: 20px 10px 20px 10px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}

.name{
	text-align: right !important;
	font-size: 14px;
}

/*ボタン系*/
.dosearch{
	font-weight: bold;
	position: relative;
	margin: auto;
	margin-top: 30px;
	display: block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #3377A8;
	border:1px solid #fff;
	overflow: hidden;
}
.dosearch:hover{
	opacity: 0.5
}

/*削除ボタン*/
.deletepost {
	font-weight: bold;
	position: relative;
	margin: auto;
	margin-right: -170px;
	right: 200px;
	display: block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #BF5762;
	border:1px solid #fff;
	overflow: hidden;
}
.deletepost:hover{
	opacity: 0.5
}

/*コメントボタン*/
.domessage {
	font-weight: bold;
	position: absolute;
	right: 200px;
	display: block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #3377A8;
	border:1px solid #fff;
	overflow: hidden;
}
.domessage:hover{
	opacity: 0.5;
}

.doedit{
	position: relative;
	width: 160px;
	text-align: center;
	text-decoration: none;
	color: #2A918E;
	font-weight: bold;
	background: white;
	border:1px solid #fff;
	overflow: hidden;
}
.doedit:hover{
	opacity: 0.5
}

/*アカウント状況ボタン*/
.active {
	position: relative;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #3377A8;
	border:1px solid #fff;
	overflow: hidden;
}
.active:hover{
	opacity: 0.5
}
.stop {
	position: relative;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #BF5762;
	border:1px solid #fff;
	overflow: hidden;
}
.stop:hover{
	opacity: 0.5
}
.loginnow{
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	position: relative;
	width: 160px;
	padding: 0.7em 0em 0.7em 0em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #2A918E;
	border:1px solid #fff;
	overflow: hidden;
}


.copyright{
	padding-top: 80px;
	padding-bottom: 20px;
	text-align: center;
}
/*テーブル*/
table{
	width: 1000px;
	margin: auto;
	margin-top: 40px !important;
	border-collapse: collapse;
	border-bottom: solid 1px;
	text-align: center;
}
th{
	color: white;
	padding: 15px 10px 15px 10px;
	background-color: #7f7f7f;
	border-bottom: solid 1px;

}
td{
	padding: 3px;
	background-color: white;
	border-bottom: solid 1px;
}
